<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<body>
    <h:head>
        <h:outputStylesheet library="css" name="default.css"/>
    </h:head>

    <div id="header">
        <ui:include src="header.xhtml"/>
    </div>

    <div id="content" style="margin-top: 5%;">
        <ui:insert name="content"/>
    </div>

    <div id="footer">
        <ui:include src="footer.xhtml"/>
    </div>
</body>
</html>
