<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Página Inicial</title>
</h:head>

<ui:composition template="../template/layoutBase.xhtml">
    <ui:define name="content">
        <h:form id="frm">
            <p:growl id="growl" showDetail="true" sticky="true"/>
            <h3>Cadastro de Servidor</h3>
            <p:panelGrid columns="1" id="panel" columnClasses="ui-lg-1, ui-lg-3, ui-lg-3" layout="grid">
                <p:focus context="panel"/> <!--Seleciona o foco automático para o primeiro pane InputText-->

                <!--Formulário de Cadastro-->
                <h:panelGroup>
                    <p:outputLabel value="Nome" for="nome"/>
                    <p:inputText value="#{cadastrarPessoaBean.pessoa.nome}" onpaste="return false" id="nome">
                        <f:validateLength maximum="50"/>
                    </p:inputText>
                    <p:message for="nome"/>
                </h:panelGroup>

                <p:outputLabel value="CPF" for="cpf"/>
                <p:inputMask mask="999.999.999-99" id="cpf" value="#{cadastrarPessoaBean.pessoa.cpf}"/>
                <p:message for="cpf"/>

                <p:outputLabel value="DDD" for="ddd"/>
                <p:inputMask mask="(99)" id="ddd" value="#{cadastrarPessoaBean.telefone.DDD}"/>
                <p:message for="ddd"/>

                <p:outputLabel value="Telefone" for="telefone"/>
                <p:inputMask mask="9999-9999" id="telefone" value="#{cadastrarPessoaBean.telefone.numero}"/>
                <p:message for="telefone"/>

                <p:outputLabel value="Matricula" for="matricula"/>
                <p:inputMask mask="99-999" id="matricula" value="#{cadastrarPessoaBean.servidor.matricula}"/>
                <p:message for="matricula"/>

                <h:panelGrid columns="2" style="margin-bottom: 10px" cellpadding="5">
                    <p:outputLabel for="tipoVinculo" value="Tipo de Vinculo:"/>
                    <p:selectOneRadio id="tipoVinculo" value="#{cadastrarPessoaBean.tipoVinculo}">
                        <f:selectItem itemLabel="Terceirizado" itemValue="1"/>
                        <f:selectItem itemLabel="Comissionado" itemValue="2"/>
                        <f:selectItem itemLabel="Concursado" itemValue="3"/>
                        <f:selectItem itemLabel="Efetivo" itemValue="4"/>
                    </p:selectOneRadio>
                </h:panelGrid>
                <!--Inicio do botão de salvar-->
                <p:commandButton value="Salvar" id="salvar" update="growl" actionListener="#{cadastrarPessoaBean.salvar()}"
                                 styleClass="ui-priority-primary" icon="fa fa-fw fa-save" action="#{cadastrarPessoaBean.procuraPersonalizada()}">
                    <f:setPropertyActionListener value="pesquisaPersonalizada" target="#{cadastrarPessoaBean.paginaRetorno}"/>
                </p:commandButton>
                <!--Fim do botão de salvar-->
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
</html>
